.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    margin: auto;
    width: 95%;
    z-index: 10;
    /* left: 0; */
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px 50px;
    border-radius: 20px;
    overflow: hidden;
}



@media (max-width: 768px) {
    .logoImg  {
      width: 250px !important;
    }
  }
  
  @media (max-width: 640px) {
    .logoImg  {
      width: 175px !important;
    }
  }
  @media (max-width: 475px) {
    .logoImg  {
      width: 90px !important;
    }
  }