.headerText{
    z-index: 99;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
}

.headerText h1{
    text-shadow: 2px 4px 5px rgba(0,0,0,0.6);
}

/* @media (max-width: 768px) {
    
  }
  
  @media (max-width: 640px) {
    
  }
  @media (max-width: 475px) {
    
  } */